# 技術スタック
Python
FastAPI
他は特に指定なし

# やりたいこと
- 不特定多数のメンバーの集まりで、クイズなどのゲームをする際に、早押しで回答者を選出したい
- 100人程度が同時にアクセスしても遅延が出ないような構成にしてほしい
- リアルタイム性が欲しい。数ミリ秒の違いで順位を判定したい
- (新規)ウェブサービスとしてほかのグループにも同時に使ってもらえるように、ルームを定義してグループごとに分割したい


# 想定する動き
(新規)最初に、主催者はサイトにアクセスし、ルームを作成して管理者用のパスワードを発行

参加者にQRコードを提示し、ウェブサイトに誘導
ウェブサイトにて社員番号などのIDを入力してもらってエントリー
司会者の合図で一斉にボタンが押せる状態になる
回答が分かった人にウェブ上のボタンを押してもらう
司会者がいったん回答を締め切る
それまでにボタンを押した人のうち、一番早かった人のID、および次に早かった人のIDを表示する
一番早かった人が回答
司会者は回答が正しければ、次の問題に進むためにリセット
回答が間違っていれば次に早かった人のIDを表示する
以降は司会者がリセットするまで繰り返す

